<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
  	<servlet-name>LoginCtl</servlet-name>
  	<display-name>LoginCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.LoginCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<display-name>UserRegistrationCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.UserRegistrationCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WellcomeCtl</servlet-name>
  	<display-name>WellcomeCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.WellcomeCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFaculty</servlet-name>
  	<display-name>AddFaculty</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.AddFaculty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewFaculty</servlet-name>
  	<display-name>ViewFaculty</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewFaculty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteFacultyCtl</servlet-name>
  	<display-name>DeleteFacultyCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.DeleteFacultyCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditFacultyCtl</servlet-name>
  	<display-name>EditFacultyCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.EditFacultyCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeamCtl</servlet-name>
  	<display-name>AddTeamCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.AddTeamCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewTeamCtl</servlet-name>
  	<display-name>ViewTeamCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewTeamCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTeamCtl</servlet-name>
  	<display-name>DeleteTeamCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.DeleteTeamCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditTeam</servlet-name>
  	<display-name>EditTeam</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.EditTeam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudentCtl</servlet-name>
  	<display-name>AddStudentCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.AddStudentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewStudentCtl</servlet-name>
  	<display-name>ViewStudentCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewStudentCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubmitProjectCtl</servlet-name>
  	<display-name>SubmitProjectCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.SubmitProjectCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProjectsCtl</servlet-name>
  	<display-name>ViewProjectsCtl</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewProjectsCtl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewStudentByAdmine</servlet-name>
  	<display-name>ViewStudentByAdmine</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewStudentByAdmine</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewTeamByAdimin</servlet-name>
  	<display-name>ViewTeamByAdimin</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewTeamByAdimin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewPPTServlet</servlet-name>
  	<display-name>ViewPPTServlet</display-name>
  	<description></description>
  	<servlet-class>in.co.online.project.submission.ctl.ViewPPTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginCtl</servlet-name>
  	<url-pattern>/LoginCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserRegistrationCtl</servlet-name>
  	<url-pattern>/UserRegistrationCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WellcomeCtl</servlet-name>
  	<url-pattern>/WellcomeCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFaculty</servlet-name>
  	<url-pattern>/AddFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewFaculty</servlet-name>
  	<url-pattern>/ViewFaculty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteFacultyCtl</servlet-name>
  	<url-pattern>/DeleteFacultyCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditFacultyCtl</servlet-name>
  	<url-pattern>/EditFacultyCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeamCtl</servlet-name>
  	<url-pattern>/AddTeamCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTeamCtl</servlet-name>
  	<url-pattern>/ViewTeamCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTeamCtl</servlet-name>
  	<url-pattern>/DeleteTeamCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditTeam</servlet-name>
  	<url-pattern>/EditTeam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudentCtl</servlet-name>
  	<url-pattern>/AddStudentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewStudentCtl</servlet-name>
  	<url-pattern>/ViewStudentCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubmitProjectCtl</servlet-name>
  	<url-pattern>/SubmitProjectCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProjectsCtl</servlet-name>
  	<url-pattern>/ViewProjectsCtl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewStudentByAdmine</servlet-name>
  	<url-pattern>/ViewStudentByAdmine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewTeamByAdimin</servlet-name>
  	<url-pattern>/ViewTeamByAdimin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPPTServlet</servlet-name>
  	<url-pattern>/ViewPPTServlet</url-pattern>
  </servlet-mapping>

  
</web-app>
